{% extends 'base.html'%}

{%block content %}
<div class="col-md-8 offset-md-2 ">
    {% if user.is_authenticated %}
    <h1>Records ...</h1>
    <table class="table table-striped table-hover table-bordered  table-sm">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>ID</th>
      </tr>

    {% if records %}
      {% for record in records %}
      <tr> 
        <th>{{ record.first_name }}</th>
        <th>{{ record.last_name }}</th>
        <th>{{ record.email }}</th>
        <th>{{ record.phone }}</th>
        <th>{{ record.address }}</th>
        <th>{{ record.city }}</th>
        <th>{{ record.state }}</th>
        <th>{{ record.zipcode }}</th>
        <th><a href="{% url 'record' record.id %}">{{ record.id }}</a></th>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% else %}  
    <br>
      <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="card shadow-lg p-5 mb-5 bg-white rounded">
                  <div class="card-body">
                    <form action="/your-login-endpoint" method="post">
                      <h2 class="text-center mb-4 display-4">Log in</h2>
                      <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" name="username" placeholder="Username" required>
                      </div>
                      <div class="mb-3">
                        <input type="password" class="form-control form-control-lg" name="password" placeholder="Password" required>
                      </div>
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </form>
</div>
{% endif %}

{% endblock %}